# ======================
# Entorno virtual
# ======================
env/
venv/

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# ======================
# IDEs
# ======================
.vscode/
.idea/

# ======================
# Documentos privados
# ======================
docs/

# ======================
# Otros archivos
# ======================
*.env
